@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


@layer base {

    :root{
        
        --black:0deg 0% 0%;
        --grey:0deg 0% 33%;
        --red:0deg 100% 40%;
        --blue:222deg 54% 48%;
        --light-grey:0deg 0% 97%;

        --light: 300;
        --bold:400;
        --semi-bold:500;

        --ff-oswald: 'Oswald', sans-serif;

        --petit: .81rem;
        --moyen: .93rem;
        --grd: .1rem;
        --grd2: 1.125rem;
        --grd3: 1.5rem;
        --grd4: 2rem;

    }
}